extends layouts/home_layout
block content
    .main-component
        .container
            .row
                .col-7
                    .description-block
                        h2.title Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        .sub-title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .col
                    .login-block
                        .title.
                            Lorem ipsum
                        form.sign-in-form
                            .form-group
                                label Username
                                input.form-control
                            .form-group
                                label Password
                                input.form-control
                            .help-text By continuing you agree to the term of use
                            a.forgot-link Forgot Password?
                            a.new-user I am a new user
                            button.btn.btn-primary.sign-in-btn Sign in
                                
    
    .component
        .container               
            .row
                .col.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .col
                    .sign-in-actions
                        div.action
                            button.btn.btn-primary 
                                i.fa.fa-github &nbsp;&nbsp;Sign in with Github
                        div.action
                            button.btn.btn-primary 
                                i.fa.fa-windows &nbsp;&nbsp;Sign in with Microsoft
