footer.footer
    .container
        .row
            .col
                .title Title 1
                div.link-item 
                    a(href='') Link 1
                div.link-item
                    a(href='') Link 2
                div.link-item
                    a(href='') Link 3
                div.link-item
                    a(href='') Link 4
            .col
                .title Title 2
                div.link-item 
                    a(href='') Link 1
                div.link-item
                    a(href='') Link 2
                div.link-item
                    a(href='') Link 3
                div.link-item
                    a(href='') Link 4
            .col
                .title Title 3
                div.link-item 
                    a(href='') Link 1
                div.link-item
                    a(href='') Link 2
                div.link-item
                    a(href='') Link 3
                div.link-item
                    a(href='') Link 4
            .col
                .title Title 4
                div.link-item 
                    a(href='') Link 1
                div.link-item
                    a(href='') Link 2
                div.link-item
                    a(href='') Link 3
                div.link-item
                    a(href='') Link 4
        
        .copy-right @2017 Sysnopsys, Inc.       
