header.header.clearfix
    nav
        a(href='').navbar-brand
            .brand-logo
        ul.nav.justify-content-end
            li.nav-item
                a(href='').nav-link Menu 1
            li.nav-item
                a(href='').nav-link Menu 2
            li.nav-item
                a(href='').nav-link Menu 3
            li.nav-item
                a(href='').nav-link Menu 4
            
