sidebar.sidebar.dark-blue
    .head-side 
        a(href='')
            span.icon
                i.fa.fa-user-circle-o
            span.val ProjAdmin
                i.fa.fa-sign-out.float-right.sign-out
    ul.list-side
        li.item
            a(href='')
                span.icon
                    i.fa.fa-exclamation-triangle
                span.val Risk Portfolio
        li.item
            a(href='')
                span.icon
                    i.fa.fa-question-circle
                span.val Help
        li.item
            a(href='')
                span.icon
                    i.fa.fa-cog
                span.val Configuration
